*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Montserrat", sans-serif;
}

.mont{
      font-family: "Montserrat", sans-serif;
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
}


/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Red border text */
.stroke-text {
  -webkit-text-stroke: 2px #E41B38;
  
}